#site-map {
	width: 100%;
	
	border: thin solid white;
}

#site-map .node {
	padding: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border: 2px solid white;
	
	transition: border 1s, transform 0.2s;
}

#site-map .node > * {
	transition: transform 0.2s;
}

#site-map .node:hover {
	border: 2px solid green;
}

#site-map .node:hover > * {
	transform: scale(120%);
}

body > .banner-2 > .background {
	background-image: url("https://cdn.pixabay.com/photo/2023/04/14/23/06/ai-generated-7926621_960_720.jpg");
	
}
