:root {

}

* {
	box-sizing: border-box;
}

.template {
	display: none;
}

.invisible {
	visibility: hidden;
}

body {
	position: relative;
	left: 0px;
	top: 360px;

	padding: 0px;
	margin: 0px;

	width: 100vw;
	height: 100vh;

	overflow: hidden;
	overflow-y: scroll;

	background-color: rgb(32, 32, 32);
	color: white;

	font-size: 16px;
}

body > .banner {
	position: sticky;
	top: 0px;
	left: 0px;

	border-bottom: 2px solid rgb(16, 16, 16);
	width: 100%;
	height: 100%;

	background-image: url(local/banner-1.png),
		linear-gradient(
			30deg, rgba(12, 175, 12, 0.2), rgba(12, 12, 175, 1)
		)
		, linear-gradient(
			30deg, rgba(8, 8, 8, 0.2), rgba(8, 8, 8, 0.2)
		)
		, url(local/banner-2.png)
		;
	background-size: cover, cover;
	background-color: rgb(16, 32, 32);

	margin-bottom: 2%;

	z-index: -1;
}

body > .banner > * {
	position: relative;
}

body > .banner > div {
	left: 10%;
	top: 40%;
}

body > .banner .title {
	font-size: 72px;
	font-weight: bold;
}

body > .banner .description {
	font-size: 36px;;
}

body > .banner > .border-bottom {
	height: 5%;
	width: 100%;

	position: absolute;
	top: 100%;
	left: 0%;
	z-index: 1;

	transform: translateY(-5%);

	/*border: 2px solid red;*/
	background-image: url(local/banner-border-bottom.png);
	background-size: cover;

	border-bottom: 2px solid black;
}

body > p {
	/*
	border-top: 2px solid lightGreen;
	background: linear-gradient(rgb(50, 150, 50), rgba(50, 150, 50, 0));
	border-radius: 5px;*/
	padding: 1%;

	margin: 1%;
	max-width: 45%;
	word-break: break-word;

	text-indent: 32px;
}

body[data-scroll='0'] > nav.top {
	background-color: rgba(8, 8, 8, 0);
	height: 12%;
	transition: font-size 0.2s, height 0.2s, background-color 0.4s;
}

body[data-scroll='0'] > nav.top .icon {
	transition: font-size 0.2s, transform 0.2s;
	font-size: 64px;
}

body[data-scroll='0'] > nav.top .icon:hover {
	font-size: 56px;
}

body[data-scroll='0'] > nav:hover {
	background-color: rgba(8, 8, 8, 0.4);
}

body[data-scroll='0'] > nav .title {
	display: none;
}

a {
	color: lightBlue;
}

nav.top {
	position: fixed;
	top: 0px;
	left: 0px;

	height: 8%;
	width: 100%;
	background-color: rgba(8, 8, 8, 0.4);
	transition: font-size 0.2s, height 0.2s, background-color 0.4s;

	z-index: 1;
	padding-right: 1%;
	padding-left: 1%;
}

nav.top > div {
	display: inline-block;
	position: relative;

	top: 50%;
	transform: translateY(-50%);
	/*border: thin solid red;*/
	margin-left: 1%;
	margin-right: 1%;
}

nav.top > div.right {
	float: right;
}

nav.top .icon {
	display: inline-block;
	font-size: 48px;
	transition: font-size 0.2s, transform 0.2s;
}

nav.top .icon:active, nav.top .icon.active {
	display: inline-block;
	font-size: 48px;
	transition: font-size 0.2s, transform 0.2s;
	filter: brightness(0.8);
}

nav.top .icon:hover {
	font-size: 46px;
	transform: rotate(-5deg);
}

nav.top .title {
	font-size: 32px;
	font-weight: bold;

	padding-right: 1%;

	border-right: 2px solid rgba(200, 255, 200, 0.2);
}